table {
    border: 1px solid black;
    width: 100%;
}

table caption {
    visibility: hidden;
}

table.loading caption {
    visibility: visible;
}

table td {
    border: 1px solid grey;
}

table td input {
    width: 100%;
}

table .loading {
    text-align: center;
}